VITE_ENABLE_CLOUD_SYNC=true
VITE_FIREBASE_API_KEY=AIzaSyDl4bTVhwdzuLQeKMCw2XQPDjt3E9wtY8U
VITE_FIREBASE_AUTH_DOMAIN=akhil-360.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://akhil-360-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=akhil-360
VITE_FIREBASE_STORAGE_BUCKET=akhil-360.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=794900112395
VITE_FIREBASE_APP_ID=1:794900112395:web:37f2a9bc345a414c8d530e
VITE_FIREBASE_MEASUREMENT_ID=G-E6QNN8GXP4
VITE_FIREBASE_DB_PATH=akhil360/production_v1
